<div id="app_blog">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Images</h1>
        <a 
            href="#" 
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-blog fa-sm text-white-50"></i> Create Article
        </a>
    </div>
    
    <!-- gallary Example -->
    
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
var current_user_id = <%= current_user.id %>;
var hashTodo = {};
/** 
*/
$(function(){
});
</script>