<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
            <h1 class="mb-0">
                LESTER AG
                <span class="text-danger">PADUL</span>
            </h1>
            <div class="subheading mb-5">
                CEBU CITY, CEBU 6000 · (+63) 09175122303 ·
                <a href="mailto:padullester@gmail.com">padullester@gmail.com</a>
            </div>
            <p class="lead mb-5">A Performance-driven Developer possessing 5 years of extensive industry experience in Web and iOS development. Adept in developing products for web design, mobile apps, user experience, best practices, and speed.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/lester-ag-padul-49178888/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/lesterpadul"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/LesterPadul"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://www.facebook.com/lester.padul/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
</section>
<hr class="m-0" />

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Web Developer / Project Manager / iOS Developer</h3>
                <div class="subheading mb-3">Forty Degrees Celsius Incorporated</div>
                <p>
                    <ul>
                        <li>
                            Held daily SCRUM meetings
                        </li>
                        <li>
                            Responsible for the deployment of features to the production server using FTP and Jenkins
                        </li>
                        <li>
                            Responsible for converting client specifications into working, functional code
                        </li>
                        <li>
                            Responsible for the setup and configuration of headless vagrant boxes
                            <ul>
                                <li>
                                    <a href="https://github.com/lesterpadul/FDCVagrant.git"><i class="fab fa-github"></i> Github Link - FDCVagrant</a>
                                    </li>
                            </ul>
                        </li>
                        <li>
                            Maintained the Github workflows for version control Responsible for review and risk analysis of code
                        </li>
                        <li>
                            Maintained infrastructure for QA, DEV, and PRODUCTION environments ( AWS EC2, RDS, MEMCACHED, REDIS )
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2018 - August 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer / iOS Developer</h3>
                <div class="subheading mb-3">Forty Degrees Celsius Incorporated</div>
                <p>
                    <ul>
                        <li>
                            Created video conferencing applications using HTML5, NodeJS, PeerJS, and Skyway WebRTC.
                            <ul>
                                <li>
                                    <a href="https://github.com/lesterpadul/chatProject"><i class="fab fa-github"></i> Github Link - video conferencing</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Contributed to the development and maintenance of the following systems:
                            <ul>
                                <li>
                                    <a href="https://nativecamp.net">Nativecamp.</a>
                                </li>
                                <li>
                                    <a href="https://machetalk.jp">MacheTalk JP</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Responsible for deploying apps to the Apple app store:
                            <ul>
                                <li>
                                    <a href="https://apps.apple.com/us/app/id1039733719">Nativecamp. iOS</a>
                                </li>
                                <li>
                                    <a href="https://apps.apple.com/us/app/id1346942593">MacheTalk iOS</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2015 - July 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Azaza Biz Solutions</div>
                <p>
                    <ul>
                        <li>Held daily scrum meetings.</li>
                        <li>Responsible for converting client demands to working, readable, and functional code.</li>
                        <li>Created boilerplate code for modular CRMs using AngularJS, and CodeIgniter2</li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Oct 2014 - May 2015</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

<!-- Portfolio-->
<section class="resume-section" id="portfolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Portfolio</h2>
        <div class="clearfix">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/assets/img/portfolio_nativecamp.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nativecamp. WEB / iOS</h5>
                            <div class="mb-4">
                                <span class="badge badge-primary bg-secondary">#CakePHP</span>
                                <span class="badge badge-primary bg-secondary">#AngularJS</span>
                                <span class="badge badge-primary bg-secondary">#HTML5</span>
                                <span class="badge badge-primary bg-secondary">#jQuery</span>
                                <span class="badge badge-primary bg-secondary">#NodeJS</span>
                                <span class="badge badge-primary bg-secondary">#Socket.io</span>
                                <span class="badge badge-primary bg-secondary">#MySQL</span>
                                <span class="badge badge-primary bg-secondary">#Redis</span>
                                <span class="badge badge-primary bg-secondary">#Memcache</span>
                                <span class="badge badge-primary bg-secondary">#Swift</span>
                            </div>
                            <div class="mb-4">
                                <p class="card-text">NativeCamp is one of the leading online English education platforms in Asia. </p>
                                <a href="https://nativecamp.net/" target="_blank"  class="card-link"><span class="fa fa-link"></span> Website</a>
                                <a href="https://app.adjust.com/d5f9eaw" target="_blank" class="card-link"><span class="fa fa-mobile"></span> AppStore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/assets/img/portfolio_machetalk.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MACHETALK WEB / iOS</h5>
                            <div class="mb-4">
                                <span class="badge badge-primary bg-secondary">#CakePHP</span>
                                 <span class="badge badge-primary bg-secondary">#slimORM</span>
                                <span class="badge badge-primary bg-secondary">#AngularJS</span>
                                <span class="badge badge-primary bg-secondary">#HTML5</span>
                                <span class="badge badge-primary bg-secondary">#jQuery</span>
                                <span class="badge badge-primary bg-secondary">#NodeJS</span>
                                <span class="badge badge-primary bg-secondary">#Socket.io</span>
                                <span class="badge badge-primary bg-secondary">#MySQL</span>
                                <span class="badge badge-primary bg-secondary">#Redis</span>
                                <span class="badge badge-primary bg-secondary">#Memcache</span>
                                <span class="badge badge-primary bg-secondary">#Swift</span>
                                <span class="badge badge-primary bg-secondary">#Wowza</span>
                            </div>
                            <div class="mb-4">
                                <p class="card-text">MachevaraTalk is an online streaming service where multiple talents can share their content with a simple touch of a button.</p>
                                <a href="https://machetalk.jp/" target="_blank" class="card-link"><span class="fa fa-link"></span> Website</a>
                                <a href="https://app.adjust.com/rrz3rn" target="_blank" class="card-link"><span class="fa fa-mobile"></span> AppStore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />

<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Special Award of Excellence - FDCI 2020
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                5 Years Special Service Award - FDCI 2020
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Award of Excellence - FDCI 2016 ~ 2019
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Outstanding Contribution Award - Nativecamp. Skyway Team Lead 2016
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Graduated Magna Cum Laude (GPA: 1.25)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Most Outstanding Thesis Award - 1FunPH
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                YMCA 2011 Academic Excellence Awardee
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />

<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            <li class="list-inline-item"><i class="fab fa-php"></i></li>
            <li class="list-inline-item"><i class="fab fa-swift"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
        <div class="subheading mb-3">Frameworks</div>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cakephp 2.10
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Laravel 8.0
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                CodeIgniter 2 / CodeIgniter 3
            </li>
        </ul>
        <div class="subheading mb-3">Databases</div>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                MySQL
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                MariaDB
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                MongoDB
            </li>
        </ul>
        <div class="subheading mb-3">Operating Systems</div>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                MacOS
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Ubuntu
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Centos
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Amazon Linux / Amazon Linux 2
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Windows
            </li>
        </ul>
        <div class="subheading mb-3">Other Skills</div>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Git
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Wowza Media Streaming Services
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                WebRTC
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                AWS - Elasticache, EC2, RDS
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">STI College</h3>
                <div class="subheading mb-3">Bachelor of Science <small>Computer Science</small></div>
                <ul>
                    <li>Graduated Magna Cum Laude (GPA: 1.25)</li>
                    <li>Dean's Lister 2011 ~ 2014</li>
                    <li>Most Outstanding Thesis Award - 1FunPH</li>
                    <li>YMCA 2011 Academic Excellence Awardee</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Aside from programming, I enjoy watching anime, reading manga and traveling! I am fond of going on long drives, taking pictures of scenic views and basking in the glory of nature.</p>
    </div>
</section>