<!-- Logout Modal-->
<div class="modal fade" id="newTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">NEW TODO</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-sm-12">
                    <input 
                        type="text" 
                        class="form-control form-control-user" 
                        id="exampleInputEmail" 
                        aria-describedby="emailHelp" 
                        v-model = "todo.title"
                        placeholder="Title">
                </div>
                <div class="form-group col-sm-12">
                    <textarea 
                        class="form-control form-control-user" 
                        id="exampleInputEmail" 
                        aria-describedby="emailHelp"
                        rows=5 
                        v-model = "todo.content"
                        placeholder="Content"></textarea>
                    <input type="hidden" v-model = "todo.id">
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    class="btn btn-secondary" 
                    type="button" 
                    data-dismiss="modal">Cancel</button>
                <a 
                    v-on:click="createNewTodo($event)"
                    class="btn btn-primary" 
                    href="javascript:void(0);">
                    <span v-if="todo.id == ''">ADD</span>    
                    <span v-if="todo.id">UPDATE</span>    
                </a>
            </div>
        </div>
    </div>
</div>